@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


pre, code {
	font-family: 'Space Mono', monospace;
	text-align: left;
	background-color: linen;
	color: #242424;
	border-radius: 12px;
}
pre {
	overflow: auto;
}
pre > code {
	display: block;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (max-width: 640px) {
	pre > code {
		display: block;
		padding: 1rem;
	}
}

.tr {
	text-align: right !important;
}

.tl {
	text-align: left !important;
}

.txt-line {
	white-space: break-spaces;
}

.pt-1 {
	padding-top: 2rem;
}

.title {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.date {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
}

.tales {
	color: #ff99c4;
}

.gral {
	color: #0074d4;
}

.prog {
	color: #ff3e00;
}

main {
	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}

.tales-width {
  width: 100vw;
}

@media (max-width: 640px) {
	.tales-body {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

.tales-body {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2;
}

.tales-intro {
	color: grey;
  font-style: italic;
  text-align: right;
}

it {
	font-style: italic;
}