<script>
	import Panel from "./Panel.svelte";	
	import Inicio from "./Inicio.svelte";
	import Tale01 from "./Tale01.svelte";
  import Tale02 from "./Tale02.svelte";
	import Tale03 from "./Tale03.svelte";
  import Tale04 from "./Tale04.svelte";
  import Tale05 from "./Tale05.svelte";
  import Tale06 from "./Tale06.svelte";
	import Tale07 from "./Tale07.svelte";
  import Tale08 from "./Tale08.svelte";
  import Tale09 from "./Tale09.svelte";
  import Tale10 from "./Tale10.svelte";
	import Tale11 from "./Tale11.svelte";
  import Tale12 from "./Tale12.svelte";
  import Tale13 from "./Tale13.svelte";
	import Tale14 from "./Tale14.svelte";
  import Tale15 from "./Tale15.svelte";

  // List of tab items with labels and values.
  let tabItems = [
    { label: "Inicio", value: 1, component: Inicio },
    { label: "Tell me", value: 2, component: Tale01 },
    { label: "Miles", value: 3, component: Tale02 },
    { label: "Realidad", value: 4, component: Tale03 },
    { label: "Colcha", value: 5, component: Tale04 },
    { label: "Invierno", value: 6, component: Tale05 },
    { label: "Historias", value: 7, component: Tale06 },
    { label: "Lorem", value: 8, component: Tale07 },
    // { label: "Kialoj", value: 9, component: Tale08 },
    { label: "Dormida", value: 10, component: Tale09 },
    { label: "If", value: 11, component: Tale10 },
    { label: "Canicas", value: 12, component: Tale11 },
    { label: "Lluvia", value: 13, component: Tale12 },
    { label: "Vacio", value: 14, component: Tale13 },
    { label: "Culpa", value: 15, component: Tale14 },
    { label: "Kona", value: 16, component: Tale15 },
  ];

  // Current active tab
  let currentTab;
</script>

<div class="dashboard">
<Panel bind:activeTabValue={currentTab} items={tabItems} />

<code class="language-text"></code>

{#each tabItems as tab}
	{#if tab.value === currentTab}
		<svelte:component this={tab.component}/>
	{/if}
{/each}

</div>

<style>
.dashboard {
  display: flex;
  flex-direction: row;
}
</style>