<main class="tales-width">
	<h1 class="title tales">cosas al azar</h1>
  <p>Un par de escritos sueltos y más</p>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>