<script>
  import { onMount } from "svelte";

  export let items = [];
  export let activeTabValue;

  onMount(() => {
    // Set default tab value
    if (Array.isArray(items) && items.length && items[0].value) {
      activeTabValue = items[0].value;
    }
  });

  const handleClick = tabValue => () => (activeTabValue = tabValue);
</script>

<ul class="panel-ul">
  {#if Array.isArray(items)}
    {#each items as item}
      <li class={activeTabValue === item.value ? 'active' : ''}>
        <span on:click={handleClick(item.value)}>{item.label}</span>
      </li>
    {/each}
  {/if}
</ul>

<style>
  .panel-ul {
    border-right: 1px solid #f5f5f5;
    border-radius: 12px;
    list-style: none;
    width: 10vw;
    height: 100vh;
    padding: 1rem;
  }

  span {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  span:hover {
    background-color: #ff99c4;
    color: white !important;
    font-weight: bolder;
    border-radius: 0.25rem;
  }

  li.active > span {
    color: #ff99c4;
    text-transform: uppercase;
	  font-size: 1em;
	  font-weight: bolder;
    border: none;
  }
</style>