<main class="tales-width">
  <h1 class="title tales" title="08 de Mayo de 2018">
    Los mejores tres meses de cada año
  </h1>
  <div class="tales-body">
    <p class="tl pt-1">
      -”Te amo”. Le dijo el frío al invierno mientras se abrazaban y el viento jugueteaba entre ellos.<br>
      -”La espera fue larga, pero ya estás aquí”. Respondió el invierno.
    </p>
    <p>
      Todos los años eran iguales y diferentes al mismo tiempo. Nueves meses de espera y tres de felicidad interminable. Y luego la despedida, la tristeza y el anhelo en el aire, dando lugar a la primavera que con sus agradables aromas y bellas flores intenta animar al frío. Los insectos y las aves revolotean en el aire y le dan calor, pero nada logra darle alegría. Simplemente debe esperar. Esperar y esperar a que su invierno este de vuelta. La espera es tan larga que a veces el frío sale a pasear para ver si lo encuentra, a veces falta tan poco que la ansiedad lo supera y sale a la ciudad a saludar a todos y cada uno, esperando encontrarlo, recordando a los demás qué el invierno ya está por llegar. Por eso en otoño puedes sentir el frío recorriendo tu cuerpo, posándose en tu nariz como una mariposa y dejando tus labios rojos, él solo está esperando. Esperando su invierno. <br>
	    Cuando el invierno llega, el frío es feliz, ambos son felices. Recorren juntos todos los campos y plazas, dejando sus huellas en los arboles y rios. Danzan en el aire y la nieve cae contenta de verlos juntos otra vez. Las nubes lloran de alegría, ellas son testigos de su amor y su espera incondicional. Todo se vuelve gris, las flores se apagan, los árboles se secan, ninguno quiere opacar ni brillar un poquito cuando ellos están juntos, porque ellos son los actores principales y nadie debe distraerse ni girar la vista. Son las estrellas que más brillan, en el dia y en la noche. Las nubes se esfuerzan por tapar al Sol, y él pone todo su esfuerzo en ocultarse antes y salir más tarde. <br>
      Todo gira en torno al frío y al invierno cuando están juntos. Pasan sus días abrazados, acurrucados, paseando.. El frío vio demasiados paisajes mientras el invierno dormía. Por eso ahora que están juntos, el frío lleva al invierno a recorrer, conocer y recordar, a veces lugares conocidos, a veces nuevos, pero siempre de la mano, con abrazos de por medio. <br>
      Puedes sentir su amor en tu termómetro favorito, mientras menos grados veas, más cerca están. Anímate y siéntelo, siente al frío y al invierno, porque nunca veras un amor tan fuerte como el de ellos. Ni siquiera el Sol ama tanto al verano como el frío al invierno.
    </p>

    <p class="tr date tales">
    08 de Mayo de 2018 - 16:07h
    </p>
  </div>
</main>