<main class="tales-width">
  <h1 class="title tales" title="31 de Octubre de 2017">
    Una vez, kona
  </h1>
  <div class="tales-body">
    <p>
      Erase una vez una niña que vivió sin vivir realmente, pero un día despertó y comprendió todo el universo que la rodeaba. "<it>No te necesito a ti, ni necesito a nadie, solo me necesito a mi misma</it>" dijo y salio a recorrer el mundo. Decidió mirar todo, detenidamente, perder el tiempo y apreciar cada segundo que pasaba.<br><br>

      Así fue como descubrió la vida, la naturaleza, la obra del hombre, el hombre y a si misma. Ella era preciosa y nunca se había mirado al espejo. Su mente podía volar tan lejos que traía polvo de estrellas cuando volvía. Con su increíble y nueva imaginación empezó a escribir, a observar a la gente, el pasto, los momentos y documentar todo. Quería mostrarle a todos lo que podía ver, lo que había descubierto y asombrarlos. Quería compartir su felicidad y tristeza con todos.<br><br>

      Erase una vez una niña que empezó a escribir cuentos, historias, momentos y muchas mas cosas por el simple gusto de escribir. 
    </p>
    <p class="tr date tales">
      31 de Octubre de 2017
    </p>
  </div>
</main>