<main class="tales-width">
  <h1 class="title tales" title="02 de Diciembre de 2017">
    Lluvia de Diciembre
  </h1>
  <div class="tales-body">
    <p class="tales-intro pt-1">
      -"La lluvia me inspira.." dice la gente. -"La lluvia me lastima.." digo yo.<br>Pero un amigo me enseño que el dolor inspira también,<br>asi que aproveche esta semana húmeda para crear algo nuevo.
    </p>
    <p>
      Alguna vez imaginaste.. Eso primero que pensaste mientras leías? Alguna vez pensaste en ser diferente? En ser una gota de agua que viaja a alta velocidad para caer desastrosamente, invadiendo a alguien o simplemente uniendote con tus pares para formar un charco?<br>
      Hoy vas a serlo. Hoy seras una gota de agua. Era un típico y caluroso día de verano, desde tu ventana podías ver la playa y como chocaban las olas mojando a los niños que chapoteaban en plena siesta. Las nubes y el pronóstico en la radio anunciaban la lluvia, el cielo estaba completamente cargado, solo era cuestión de tiempo. Pero sin darte cuenta una burbuja te envolvió completamente y te hizo flotar. Cada uno de los niños de la playa se elevaban en su propia burbuja, tratando de escapar, ansiosos, asustados y algunos hasta divertidos. Todos aquellos cercanos a la playa subían lentamente. A medida que avanzaban, se iban encogiendo. Cuando entraban en la nube, eran pequeñas gotas de agua, listas para caer.<br>
      Caen.. Una a una, las diminutas gotas de agua.. Algunas más rápido que otras. Pero todas caían.<br>
      Los gritos inundaron la bahía. Nadie entendía nada, solo tenían miedo. Miedo a la incertidumbre, ese miedo que tienes todos los días por que no sabes que te espera, pero mucho más real y mucho más vivo. La inmensa distancia entre la nube y el trágico destino era insignificante comparada con la velocidad a la que se desplazaban. Ya no era una simple nube llena de gotas de agua, era una nube de pánico.<br>
      Hasta que llego tu turno, caíste, sin más, simplemente caíste. La adrenalina te llenaba, era una caida libre y no podías evitarlo. Lo unico que te alegraba era caer sobre el mar, pero a la vez te llenaba de dudas, qué pasaba con tu vida, con tu cuerpo, ahora eras agua y el mar era de agua, acaso no ibas a regresar nunca más, acaso el mar estaba compuesto por personas que vivían en la playa, quién se va a quedar con tu casa.. Éstas y más preguntas cruzaron por tu cabeza mientras caías y te zambullías en el agua.<br>
      Pero en ese mismo instante lograste ver tu casa casi en camara lenta, estabas ahí, en tu ventana, mirando la lluvia caer y todo se borro. "<it>Qué veo? Qué hago en el agua? Quíen so... Azul, Todo es ¿azul?...</it>" Libre, profundo, ilimitado y pacífico. Hasta que no hubo nada más.<br><br>

      Y mientras alguien mas miraba desde tu cuerpo, que estaba en la ventana de tu casa, tu te perdias en la felicidad instantánea que produce la inmensidad del océano.
    </p>
    <p class="pt-1">
      <b>¿Alguna vez pensaste en ser una gota de agua?<br>
        ¿Alguna vez imaginaste que sienten al caer?</b>
    </p>
    <p class="tr date tales">
      02 de Diciembre de 2017
    </p>
  </div>
</main>