<main class="tales-width">
  <h1 class="title tales" title="8 de Noviembre de 2020">Tell me baby, what is your story?</h1>
  <div class="tales-body">
    <p>Después de unas largas semanas de planificación, tomamos todas las decisiones necesarias y espero que correctas. <br>
    Hacía más de un año que no nos veíamos, la ansiedad me estaba superando tanto que incluso llegué temprano. A las nueve habíamos quedado pero todavía faltaba media hora cuando me senté en el pastito al sol a esperarte.<br>
    Te ví llegar, caminar hacia mi. Al principio no sabía si realmente eras vos. Pasó tanto tiempo desde la última vez que nos vimos que no te reconocí inmediatamente. Había demasiados cambios en tu cuerpo pero seguías siendo vos. Seguía encontrándote. Seguía viendote.<br>
    Cuando llegaste, me levanté, y juntos empezamos a caminar. No nos saludamos ni hablamos. Solo caminamos por la larga bajada hasta llegar a ese pequeño lugar que habíamos elegido para encontrarnos una vez más. Fue como esas películas donde alguien dice "tengo que contarte algo" y hacen todo el camino en silencio con suspenso de que será. Pero el silencio no era incómodo ni pesado, era tranquilo y normal, era nuestro, era el de siempre. <br>
    Llegamos cerca de las diez, nos estaban esperando. Nos mostraron el lugar, nos dejaron las llaves y se fueron.<br> Quedamos solos en ese lugar desconocido. Solos y en silencio.<br>
    Deje mi mochila en el piso. Fui al baño y lavé mis manos, después fue tu turno. <br>
    Nos quedamos mirando un segundo, dos segundos, tres segundos y te abrace.<br> Te abrace tan fuerte como pude y vos me devolviste el abrazo, con la misma fuerza e intensidad.<br>
    Nos quedamos así un par de minutos. Sintiendo y extrañando.<br>
    Me separé. <br>
    Te mire a los ojos.<br>
    Puse mis manos alrededor de tu cara y me acerqué lentamente. <br>
    Deje un pequeño beso en tu mejilla y te susurre al oído "wake up honey, it's just a dream".
    </p>
    <p class="tr date tales">8 de Noviembre de 2020</p>
  </div>
</main>