<main class="tales-width">
  <h1 class="title tales" title="19 de Febrero de 2018">
    Mientras duermes..
  </h1>
  <div class="tales-body">
    <p>
      "Por fin se durmió" se escuchó decir, seguido de un "plop". Un suspiro largo y un hurra de felicidad. Varios plop plap pop y clacs después, solo podías ver esta bola de sebo, si fuera plano, se vería como un cuadrado con un círculo arriba. Como un dibujo sin empezar, de un artista que se aburrió al dibujarlo. 
      Al fondo se escuchaba el cuchicheo, bla bla bla bla, muchas voces, bajitas, con distintos tonos, todas hablando un mismo idioma, diferente al mío.. 
      Me acerque para ver que había en la cocina y allí los vi. 
      Brazos, manos y piernas hablando entre sí, el cabello hablaba con los pies, las rodillas se quejaban de la humedad con las muñecas y los codos, la nariz paseaba de lado a lado, cansada de estar siempre en el mismo lugar. La boca llamaba al cabello, quería retarlo por meterse siempre dentro de ella.. Pero el cabello estaba más preocupado por saber cómo se vivía ahí abajo y las diferencias con estar arriba. 
      Nadie se dio cuenta que los estaba observando, escuchando, analizando.. Estaban tan ocupados hablando entre sí, algunos enojados, otros contentos, con quejas y con agradecimientos.. Nadie se percató que estaba ahí hasta que ladre. Tome mucho aire y puse toda la fuerza que pude en un solo ladrido. Todos se quedaron callados y me miraron. Quietos, atónitos, no entendían que pasaba, por qué alguien los veía o escuchaba, y ni siquiera estaban seguros de que así fuera. Y viendo la confusión en sus caras, ladre otra vez, con una gran sonrisa en la cara. 
      Todos empezaron a gritar y correr, fueron hasta ese cuadrado y círculo que habían dejado abandonado y empezaron a unirse, plop plop, aquí y allá, plop por todos lados. Y una vez que la última pieza se acomodara perfectamente, ella despertó, sobresaltada, asustada. Me vio y sonrió. Me aseguro que yo estaba en su sueño, que me había visto ladrar y se había asustado. Me abrazó y se disculpó. Todo había sido un sueño y esperaba poder manejarlo mejor la próxima vez. Nunca pude decirle que todas las noches mientras dormía, su cuerpo se desprendía y conversaba entre sí, hablaban de ella y no sabían que yo siempre estaba ahí..
    </p>
    <p class="tr date tales">
      19 de Febrero de 2018 - 03:49am
    </p>
  </div>
</main>