<main class="tales-width">
  <h1 class="title tales" title="20 de Julio de 2019">
    Culpa
  </h1>
  <div class="tales-body">
    <p>
      Una noche como hoy, donde la luna me mira con reproche, trato de explicarle una vez más que tenía que hacerlo.<br>
      No iba a poder seguir así. Pero otra noche mas, ella no me entiende y sigue sin querer darme sombra.. 
    </p>
    <p class="tr date tales">
    20 de Julio de 2019 - 01:34am
    </p>
  </div>
</main>