<main class="tales-width">
  <h1 class="title tales" title="16 de Julio de 2019">
    Ningún lugar
  </h1>
  <div class="tales-body">
    <p class="tales-intro">
      Cuenta la historia que si caminas 100 pasos al norte desde el árbol más viejo, luego 300 pasos al este... y un poco más complicado, no recuerdo el camino completo. Pero la historia dice que hay una ciudad completamente viva y llena historias fantásticas que querrás descubrir. Cada rincón tiene su propia leyenda, incluso los árboles de cada plaza están relatados.
    </p>
    <p class="tl pt-1">
      El local de artesanías que se encuentra en la esquina de la primera manzana accediendo desde el sureste. Dicen que si entras y miras a la esquina superior derecha, veras un gran reloj de madera muy bien pintado y mantenido, pero que está detenido. La historia cuenta que cada viajero ve una hora diferente, algunos dicen las 14:30h, otro las 12:10, una las 17:45h, etc. Una vez alguien le comentó al dueño, pero este también veia siempre la misma hora, incluso lo había revisado y se había asegurado de que no tuviera pilas puestas. Nadie sabía qué significaba la hora que marcaba [..].
    </p>

    <p class="tl pt-1">
      <b>Historias para contar</b>
    </p>
    <ul class="tl">
      <li>Los árboles que crecían más rápido en una plaza..</li>
      <li>Los juegos que cambiaban de lugar..</li>
      <li>La casa que amanecía pintada siempre de un color diferente..</li>
      <li>La calle que volvía al mismo lugar(loop infinito)..</li>
      <li>Las huellas gigantes en el arenero..</li>
      <li>El bar que solo abría los miércoles..</li>
    </ul>
    <p class="tr date tales">
    16 de Julio de 2019 - 02:06am
    </p>
  </div>
</main>