<main class="tales-width">
  <h1 class="title tales" title="08 de Noviembre de 2019">
    Kialoj
  </h1>
  <div class="tales-body tr">
    <p class="tales-intro pt-1">
      Esta vez es diferente.<br>
      Porque a él le gustaba.<br>
      Y porque a mi me gustaba ser diferente.<br>
    </p>
    <p class="tales-intro pt-1">
      Hoy caminaba por la calle manteniendo una conversación interna con
      una de esas voces que siempre me responde. 
      Me preguntaba por qué me dolía tanto y empecé a contarle. 
      Voy a transcribir esa charla, para registrar la historia. 
      Porque eso hacemos los historiadores de la vida.  
      Contamos la historia de nuestras vidas.
    </p>

    <p class="pt-1"><b>Primer encuentro</b></p>
    <p>
      Hace cinco años, cursaba primer año de compu en FaMAF. 
      La mayoría de mis compañeros eran varones y yo no hablaba con ninguno. Como no había hecho el curso de ingreso no conocía a nadie. En el primer cuatri, en análisis matemático I, no entendía nada y estaba muy sola. Un <rb>chico</rb> se me acercó y me dijo que le podía preguntar cualquier cosa, así que empezamos a hablar. Él tenía un <vb>grupo</vb> de amigos, nos encontrábamos en el comedor así que conocí a varios del grupo. Ahí estaba una <lb>chica</lb> que no era muy amiga de ellos o no iba al comedor. Eventualmente empecé a formar parte de ese <vb>grupo</vb> de amigos que no eran míos, yo solo estaba ahí. En el segundo cuatri, había que hacer grupos de a dos, yo seguía sin conocer a nadie en el aula, todos tenían amigos o al menos conocidos.<br>
      Y ahí apareció esa <lb>chica</lb>, me preguntó si quería hacer grupo con ella 
      (obviamente le dije que si).<br>
      Nos hicimos un poco amigas. A la salida caminabamos juntas hasta la esquina, yo doblaba a la izquierda para mi parada del cole y ella cruzaba la calle para la suya. <br>
      Una tarde llegamos a la esquina y nos encontramos con un <nb>chico</nb> de ese <vb>grupo</vb> de amigos. Ellos eran muy amigos y se pusieron a hablar. 
      Él <nb>chico</nb> parecía que sabía un montón, me daba miedo interrumpir la conversación. Y ella le dijo que yo sabía mucho de algo, pero no era verdad. Yo sabía mucho comparado con ella que no sabía nada. 
      Él trato de hablarme y yo no quise, me dio vergüenza. 
      Me fui a la parada porque ya era tarde.
    </p>

    <p class="pt-1"><b>Segundo encuentro</b></p>
    <p>
      Un año después, la chica le dijo que yo sabía diseño gráfico.
      Yo estaba en los bancos de afuera de la facu esperando que mis papás vayan a buscarme. 
      Él estaba diseñando una aplicación y necesitaba un icono, me preguntó si podía ayudarlo. Analice el momento, estaba creando un nuevo logo para mi grupo de baile, era agosto, hasta noviembre no iba a haber nuevos pedidos de diseño, tenía tiempo para hacer el logo, el icono y la facu.
      Le dije que si.


      Ese mismo año, un profe sugirió hacer un grupo de programación. 
      Nuevamente yo estaba sentada en los bancos de afuera de la facu.
      Él quería hacer un grupo para programar cosas en el verano.
      Le dije que si.
      (Nunca me volvió a hablar del tema por cierto) 
    </p>

    <p class="pt-1"><b>Segundo encuentro punto cinco</b></p>
    <p>
      Nos juntamos en el depto de la chica para programar y hablar de la aplicación. No sabía cómo ir vestida, opte por el buzo de la facu, mi favorito. Nos encontrábamos en la Catedral. Él tenía el mismo buzo puesto. Me dio vergüenza ir a juego.
      En el depto, se recostó sobre mí y dijo que era muy cómoda.
      No sabía si era normal, si así hablaban los amigos, no entendía nada. 
    </p>

    <p class="pt-1"><b>Tercer encuentro</b></p>
    <p>
      Un chico de ese grupo de amigos insistió mucho en que vaya a la fiesta de fin de año de la facu. No quería ir, no tenía amigos, no tomaba alcohol, no bailaba, no hablaba por mi misma. Pero fui.
      Otro chico de ese grupo de amigos había llegado temprano así que charle con él. Después él llegó, charle con los dos. Vinieron más y más chicos, charle con varios. Estaba la chica y el primer chico que me habló también. Tomé cerveza y algunas otras cosas más, pero no mucho. Solo un poco, pero lo suficiente para que me duela la cabeza.
      No aguantaba el dolor pero no quería irme.
      Era divertido formar parte de algo.
      En algún momento recuerdo que me acompaño al baño.
      Después intenté hacerme cosquillas. 
      Y de alguna forma avanzo un poco más. 
      Luego lo bese. 
      Mucho. 
      Pero solo una vez.
      Nos apoyamos en la pared, uno al lado del otro y nos dimos la mano.
      Me fueron a buscar. Me acompañó hasta casi el auto.
      No sabía qué hacer.
      Sigo sin saber qué hacer..

      Un par de días después fui a biblioteca, 
      él estaba en el laboratorio, 
      pase a saludarlo. 
      Camisa verde a cuadros. 
      Estaba tan nerviosa y no sabía qué decirle ni de qué hablar. 
      No sabía que hacia ahi en realidad.
    </p>

    <p class="pt-1"><b>Entremedio</b></p>
    <p class="tl pt-1">
      Hablamos mucho mucho mucho durante las vacaciones.
      La chica se fue de vacaciones y le dejó su depto.
      Fui dos veces.
      Comimos, dormimos juntos, jugamos videojuegos, charlamos y mucho más.
      Fuimos a la casa del chico que me hablo primero. Tome mucho alcohol. Estaba loca por él. Dormimos juntos otra vez.
      Fuimos al rio, me hizo un barquito con hojas.
      Le presente mis amigas, comimos juntos.
      Nos besamos en la calle.
      Caminamos de la mano.
      Hablamos un monton.

      No funciono. Llore mucho. Nada importante.
    </p>

    <p class="pt-1"><b>Encuentro cercano del cuarto tipo</b></p>
    <p class="tl pt-1">
      Yo estaba saliendo con otro chico. Y luego te vi otra vez.
      Solo eramos amigos esta vez.
      Cada vez más cercanos.
      Deje al chico con el que salía.
      Cada vez más cercanos.
      Me diste la mano y dijiste que seguro en la fiesta te iba a besar.
      Pense que eso querias.
      Pero no, no era lo que querías.
      Igual paso..
      “Me toque antes de salir”
      “Mi cuerpo es tuyo”
      Después te enojaste.
      Nos fuimos.
      Me dormi con frío a tu lado, tu mano me daba calor. 
      Me diste un auricular.
      Me desperté envuelta en calor, en música relajante y tu olor.
      No recordaba haberme despertado así de bien antes.
      Pero el colectivo paró y tuvimos que bajar.
      Charlamos mucho tiempo más.

      Pasaron muchas cosas más. Muchas muchas muchas cosas más.
      “No quiero que salgas con otros chicos”
      “Si tenés hambre, podés comerte ésta boquita”
      “Dos años máximo”
      “Nuestro aniversario puede ser el 19 de abril”
      “Si vivimos juntos, no quiero que tengamos secretos”
      -me contaste tu secreto-
      “Cuando vivamos juntos, vamos a salir a correr?”
      “Si vivimos juntos mucho tiempo, te vas a casar conmigo?”

      Le dije a mis papas que estábamos saliendo, quieren que vengas un día a comer para conocer al chico con el que voy a vivir.
      “Pense que eramos amigos”

      Ahí comenzaron las inseguridades y las necesidades.
      Y luego otros problemas vinieron. Uno tras otro. 
    </p>

    <p class="pt-1"><b>Pasaron más cosas.</b></p>
    <p class="tl pt-1">
      Y aca estamos.
      Si me preguntan porque a pesar de todo lo sigo queriendo, 
      es porque lo quiero de verdad. 
      Si me preguntan porque mi mundo se apagó,
      es por que él era mi mundo.
      Si me preguntan por que siento que no tengo futuro,
      es por que él era mi futuro.

      Tengo muchos problemas en mi vida, muchos casos sin solución, que me llevaron a preferir siempre estar sola. Pero lo encontre a él, me devolvió las ganas de vivir. Con él quería tener un futuro, quería casarme si iba a ser con él, quería tener hijos si él iba a ser el padre, quería ser alguien importante para que él esté orgulloso de mi, quería estar sana y fuerte para vivir mucho tiempo a su lado.
      Para ser feliz.
      Por que en él había encontrado la felicidad.
      Con él había entendido lo significa “Tu eres mi hogar”.
      La calidez, el amor, la reflexión, y muchas otras cosas más.

      Él era mi todo, por eso lo deje ir, por que quiero que él también entienda todos esos sentimientos y sensaciones que me hizo vivir.
      Quiero que él descubra lo que es vivir en realidad.
      Vivir de verdad.
    </p>

    <p class="tales-intro pt-1 txt-line">
      Y eso venía charlando,
      con esa voz que me habla cada tanto,
      mientras camino sola por la calle, 
      esperando que todo el dolor se termine..
      Un viernes por la noche, 
      al salir del trabajo, 
      seis semanas y un día después,
      de que mi luz se apagara.
    </p>

    <p class="tales-intro pt-1" style="font-size:small">
      Si llegaste hasta acá y queres saber por que no escribi todo lo que paso antes de que me dejara, y querés saber cómo fue que él llegó ser mi felicidad. Tengo que pedirte disculpas, por qué no voy a escribirlo. Esas cosas se sienten y no se pueden leer. Además de que duelen demasiado y no quiero recordarlas. Escribirlas convertiría esta noche en otra noche de lágrimas y todavía es temprano para llorar. Más tarde. Todavía queda trabajo por hacer.
    </p>
    <p class="tr date tales">
      08 de Noviembre de 2019 - 11:57pm
    </p>
  </div>
</main>

<style>
  rb {
    font-weight: bold;
    color: #cc0000;
  }

  vb {
    font-weight: bold;
    color:#6aa84f;
  }

  lb {
    font-weight: bold;
    color: #a64d79;
  }

  nb {
    font-weight: bold;
    color:  #ff9900;
  }

  ta {
    font-weight: bold;
    color:  #073763;
  }

  tr {
    font-weight: bold;
    color:  #cc0000;
  }

  tv {
    font-weight: bold;
    color:  #351c75;
  }

  cv {
    font-weight: bold;
    color:  #6aa84f;
  }
  bgw {
    font-weight: bold;
    color:  white;
    background-color :#ffe599
  }
</style>