<main class="tales-width">
  <h1 class="title tales" title="25 de Julio de 2019">
    Transparencia y realidad
  </h1>
  <div class="tales-body">
    <p>
      Esta es una nueva aventura, vamos a sumergirnos en un nuevo mundo. Subamos al arcoiris de colores y lancémonos a esta nueva historia. Subidas y bajadas, algunas vueltas complicadas, un poco de camino recto y parece un arcoiris que no llega a ningún lado. Hasta que finalmente aterrizamos como espectadores de este fantástico universo.
      <br>
      Fantástico dije? Bastante extraño podría decir ahora que miro bien. Es como si estuviera todo dibujado a mano, como si fuera un dibujo sin terminar hay zonas a medio pintar. Las personas, los animales, las plantas, todos los seres vivos! Algunos estaban pintados completos, algunos tenían varios colores, a algunos les faltaban colores.
      <br>
      En la puerta de una casa se veía como un pequeño gatito raspaba, sus bordes eran líneas delgadas y practicamente no estaba pintado, todo blanco. Un par de minutos después la puerta se abrió, salió una joven con unas líneas delgadas también, con un par de colores en algunas partes, pero incompleta, le faltaban varias partes de pintar, en especial en el pecho donde todo era blanco.  Ella alzó el gatito y lo acurruco entre sus brazos, el pequeño comenzó a ronronear. Poco a poco ambos se iban pintando, rellenando con colores nuevos. 
      Los colores eran los sentimientos compartidos, no era tan extraño ese mundo. Un mundo lleno de patrones y colores diferentes, donde cada persona está pintada según los sentimientos y las relaciones compartidas. ¿Qué colores te gustaría tener si fueras de papel?
    </p>
    <p class="pt-1">
      <b>¿Qué colores te gustaría tener si fueras de papel?</b>
    </p>
    <p class="tr date tales">
    25 de Julio de 2019
    </p>
  </div>
</main>