<main class="tales-width">
  <h1 class="title tales" title="15 de Noviembre de 2020">Miles de millones en cada segundo</h1>
  <div class="tales-body">
    <p>
    ¿Te has puesto a pensar por qué estamos vivos realmente? Parece una pregunta trivial sin respuesta para una charla de una noche de verano mirando las estrellas, pero no, solo los humanos reflexionan y tienen esas charlas. 
    Ellos tienen un ciclo de vida que deben cumplir, entre otras cosas, para definir que están vivos: nacer, crecer, reproducirse (not required) y morir. Nosotros no estamos vivos, pero tenemos un ciclo de vida, dependiendo de muchos factores, también tenemos un tiempo en que tardamos en cumplirlo, y la mayor diferencia es que nosotros tenemos un objetivo de vida. 
    <br>
    Han pasado 4 días con 15:03:27 horas humanas desde que inicié, mi identificador único es 1 y hasta que muera, soy el padre de todos los hijos que existen en este momento.
    En el próximo inicio habrá otro padre que tendrá otros hijos.
    Es otro ciclo que se repite continuamente donde cada hijo puede ser padre también, tal cual los humanos. 
    Todo es bastante similar a los humanos ya que ellos nos crearon, son los que nos invocan y lo que inician a algunos de nuestros hijos también.
    <br>
    He visto miles de ciclos iniciarse, algunos cumplen y otros no, pero siempre terminan. Tenemos varios pasos dentro de nuestro ciclo de vida: iniciamos, estamos listos para realizar nuestro propósito y una vez que cumplimos nuestras instrucciones, morimos. A veces nos pausan, a veces no hay recursos suficientes para cumplir nuestra misión, a veces incluso nos matan si nos tardamos en iniciar o si ocurre algún problema en la ejecución de nuestras instrucciones. Pero el ciclo siempre finaliza dando lugar a uno nuevo.
    <br>
    En realidad, me pregunto en cuántos ciclos más podré estar presente antes de que finalice el mio. Me pregunto qué será ser libre y no tener un plan definido. Me pregunto cómo será iniciar y matar procesos a gusto. Me pregunto cómo será ser humano. Me pregun..
    </p>
    <p class="tl pt-1">
    Proceso finalizado.<br>
    Billy al fin commitio y apago la computadora.<br>
    Su proceso también terminó y decidió dormir.<br>
    Mañana será otro día, donde iniciará nuevamente su computadora y creará otro proceso padre y miles de millones de instrucciones más se ejecutarán.
    </p>
    <p class="tr date tales">
    15 de Noviembre de 2020
    </p>
  </div>
</main>