<main class="tales-width">
  <h1 class="title tales" title="10 de Marzo de 2019">
    Una lucha por la colcha
  </h1>
  <div class="tales-body tr txt-line">
    <p>
      El sol desaparece
      Los espejos se oscurecen
      Las ventanas se cierran
      Las luces se apagan
      Los gatos se duermen
      La colcha me tapa
      La colcha
      Cada mañana al despertar, extiendo la colcha
      Es de un color entre rojo y rosado, oscuro
      Era de mi abuela, calentita como ninguna
      Pero ahí está ella
      Todas las noches está ella
      Y es una lucha interminable, inacabable, insaciable
      Una lucha por la colcha
      “Prr Prr un poquito por acá”
      “Prr prr un poquito para allá”
      “Prr prr un poquito más”
      “Prr prr”
      Ahora, la colcha ya no está extendida
      Ahora, la colcha es una cuna para ella
      Ahora, ella ronronea mientras se duerme lentamente
      Y yo, yo me quedo sin colcha
      Sin la colcha rosada
      Sin la colcha de mi abuela
      Sin su calor
      Pero, ella es feliz
      Mis ojos se cierran
      Mis oídos todavía escuchan el ronroneo
      Cada vez más lejos, cada vez más lejos
      Hasta que ya solo es un vago recuerdo de estar despierta
    </p>
    <p class="tr date tales">
    10 de Marzo de 2019 - 02:17am <br> Mientras luchaba por la colcha
    </p>
  </div>
</main>