<main class="tales-width">
  <h1 class="title tales" title="07 de Noviembre de 2017">
    Ese vacío que necesitamos llenar
  </h1>
  <div class="tales-body">
    <p class="tales-intro">
      Sentimientos al azar, abriendo, descubriendo y mucho mas..
    </p>
    <p>
      Alguna vez has sentido..ese vacío que te llena? Ese vacío que necesitas? Para poder rellenar con algo que tu quieras? Alguna vez lo has necesitado? Pues si, Zunni estaba recostado en su cama cuando comprendió que necesitaba ese vació y que deseaba llenarlo con algo propio. Imagino miles de opciones, de formas, de colores y de sonidos para llenarlo, pero lo único que consiguió fue dormirse. Era una fresca noche de verano y la brisa entraba por su ventana coqueteando con sus piernas.<br><br>

      Esa noche soñó que era un ave, una pequeña y roja, soñó con un campo verde, rodando por el pasto, sintiendo la suavidad en sus alas, mientras un grupo de aves lo miraban extrañamente, piaban y piaban pero no podía entender lo que decían. Él solo quería rodar y rodar, sintiendo el calor de los rayos del sol y la frescura de la hierba entre sus plumas. Y así continuó, recorriendo tanto como pudo, hasta que la noche llego. Necesitaba un refugio, voló y voló, hasta que vio una casa y una ventana abierta por la que entro, todo le parecía familiar pero no podía entender por que, él era un pájaro, no podía estar en una casa. Pero vio la cama y al joven que se encontraba en ella, observándolo, con esos ojos vacíos. Mantuvieron la mirada unos pocos segundos. Sus ojos no estaban vacíos, él realmente no estaba ahí. Él era yo. <br>
      En aquel momento despertó Zunni, sus ojos brillaban de ansiedad, había descubierto con que llenar ese vacío. El verde pasto, el amarillo sol y las rojas plumas serian su inspiración.
    </p>
    <p class="tr date tales">
      07 de Noviembre de 2017
    </p>
  </div>
</main>