<main class="tales-width">
  <h1 class="title tales" title="12 de Octubre de 2020">
    Canicas verdes
  </h1>
  <div class="tales-body">
    <p>
      Había una vez un niño que confió en una niña. Él le regaló sus canicas favoritas y ella las regalo. Un niño que fue traicionado a muy temprana edad y se juró así mismo nunca volver a confiar.<br>
      El niño creció, se mantuvo alejado de todos, tenía amigos pero no muy cercanos por qué en nadie confiaba.<br>
      Un día, el niño ya adulto, conoció a una dulce joven que abrió sus puertas y lo hizo confiar de nuevo.<br>
      Pero no era verdad. Ella también lo iba a traicionar e iba a lastimar su delicado corazón. El niño, ya anciano, había vuelto en el tiempo para advertirle a su versión adulta sobre la traición que se aproximaba. El anciano quería cuidarlo para que ya no sufrieran. Fueron muchos años de dolor. El anciano todavía recordaba las canicas y no podía borrar el recuerdo, pero no quería que el adulto sufra de nuevo. El solo quería advertirle, sobre aquella joven.
    </p>
    <p class="tales-intro pt-1 ">
      No es que no termine de escribirlo, es que me desperté ahí.
    </p>
    <p class="tr date tales">
      12 de Octubre de 2020
    </p>
  </div>
</main>