<main class="tales-width">
  <h1 class="title tales" title="19 de Octubre de 2020">
    Infinitos sueños contados de a poquito
  </h1>
  <div class="tales-body">
    <p>
      Antes del amanecer: Si tuviera la oportunidad..
    </p>
    <p class="tr date tales">
      19 de Octubre de 2020 - 23:40h
    </p>
  </div>
</main>