<script>
	import Tabs from "./Tabs.svelte";	
	import Inicio from "./Inicio.svelte";
	import FairyTales from "./fairyTales/FairyTales.svelte";
	import Git from "./git/Git.svelte";

  let tabItems = [
    { label: "Inicio", value: 1, component: Inicio },
		{ label: "Escritos", value: 2, component: FairyTales },
		{ label: "Git", value: 3, component: Git },
  ];

  let currentTab;
</script>

<Tabs bind:activeTabValue={currentTab} items={tabItems} />

<code class="language-text"></code>

{#each tabItems as tab}
	{#if tab.value === currentTab}
		<svelte:component this={tab.component}/>
	{/if}
{/each}